body {
    padding-bottom: 120px;
}

.section {
    display: block;
    margin-top: 80px;
}

.section-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}